.elementor-video-popup{
    display: inline-block;
    position: relative;
    @include transition(all 0.3s ease);
    &:after{
        position: absolute;
        content: "";
        top: -40px;
        left: -40px;
        width: calc(100% + 80px);
        height: calc(100% + 80px);
        @include scale(0);
        @include border-radius(50%);
        @include transition(all 0.3s ease);
    }
    i{
        @include font-size(28);
        color: $white;
        background-color: $primary;
        width: 100px;
        height: 100px;
        line-height: 100px;
        cursor: pointer;
        text-align: center;
        @include border-radius(50%);
        position: relative;
        z-index: 1;
        @include transition(all 0.3s ease);
    }
    &:hover{
        &:after{
            @include scale(1);
        }
    }
}
