//  ==========================================================================
//  Offcanvas Variables
//  ==========================================================================

//  ==========================================================================
//  Offcanvas Settings
//  ==========================================================================

$offcanvas-width: 25em !default;
$offcanvas-left-width: $offcanvas-width;
$offcanvas-right-width: $offcanvas-width;
$offset--left: 25em !default;
$offset--right: 25em !default;
$offset--top: 12.5em !default;
$offset--bottom: 12.5em !default;
$offcanvas-content-reveal-left-offset: $offset--left!default;
$offcanvas-content-reveal-right-offset: $offset--right!default;
$offcanvas-padding: 30px !default;

//content
$offset-content-wrap--left: 20em !default;
$offset-content-wrap--right: $offset-content-wrap--left !default;

// position
$offcanvas-enable-left:    true !default;
$offcanvas-enable-right:   true !default;
$offcanvas-enable-top:   true !default;
$offcanvas-enable-bottom:   true !default;
// style
$offcanvas-enable-overlay:   true !default;
$offcanvas-enable-push:   true !default;
$offcanvas-enable-reveal:   true !default;

$supportCSSTransforms:   true !default;

$elements:  body-text,offcanvas-reveal,offcanvas-content-wrap,header,offcanvas-overlay,offcanvas,offcanvas-trigger,offcanvas-panel,offcanvas-btn;

// https://material.google.com/motion/duration-easing.html#duration-easing-common-durations
$deceleration-curve: cubic-bezier(0.0, 0.0, 0.2, 1); //Easing out
$acceleration-curve: cubic-bezier(0.4, 0.0, 1, 1); // Easing in
$sharp-curve: cubic-bezier(0.4, 0.0, 0.6, 1);
$standard-curve: cubic-bezier(0.4, 0.0, 0.2, 1);


//  ==========================================================================
//  Offcanvas Mixins
//  ==========================================================================

//GPU acceleration
%u-ha {
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
%u-offcanvas-animate {
  transition: transform 300ms $sharp-curve;
}

%is-open {
  transform: translate3d(0,0,0);
  visibility: visible;
  transition: all .6s ease;
}

@mixin offcanvas($position:left, $offset:$offcanvas-width, $overlay:false, $reveal:false) {
  @if $position == 'left' {
    width: $offcanvas-left-width;
    transform: translate3d(-$offset,0,0);

    @if ($supportCSSTransforms == false) {

      &.c-offcanvas--support-no-transitions {
        left: -$offset--left;
        &.is-open {
          left: 0;

        }

      }

    }
  }
  @if ($position == 'right') {
    width: $offcanvas-right-width;
    right: 0;
    transform: translate3d($offset,0,0);
  } @else if ($position == 'top') {
    left: 0;
    right: 0;
    top: 0;
    height:$offset;
    min-height: auto;
    width:100%;
    transform: translate3d(0,-$offset,0);
  } @else if ( $position == 'bottom' ) {
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height:$offset;
    min-height: auto;
    width:100%;
    transform: translate3d(0,$offset,0);
  }
}


@mixin offcanvas-content($position:left,$offset:$offcanvas-width, $reveal:true) {
  @if ($reveal == true) {
    @if ($position == 'right') {
      &.is-open {
        transform: translate3d(-$offset,0,0);
      }
    }
    @if ($position == 'left') {
      &.is-open {
        transform: translate3d($offset,0,0);
      }
    }

  }
}

@mixin offcanvas-bg($position:left, $offset:$offcanvas-width) {

  @if ($position == 'right') {
    &.is-open {
      transform: translate3d(-$offset,0,0);
    }
  }
  @if ($position == 'left') {
    &.is-open {
      transform: translate3d($offset,0,0);
    }
  }
}

/**
 * Offcanvas-content-wrap
*/
.c-offcanvas-content-wrap {
  //position: relative;
  //overflow: hidden;
  z-index: index($elements, offcanvas-content-wrap);
}

/**
 * Offcanvas Panel
*/
.c-offcanvas {
  @extend %u-ha;
  @extend %u-offcanvas-animate;
  position: fixed;
  min-height: 100%;
  max-height: none;
  top: 0;
  display: block;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
   transition: all .6s ease;
  &.is-open {
    @extend %is-open;
  }
  &--opening {
    transition-timing-function: $sharp-curve;
  }
  &.is-closed {
    //width: 0; IE10 BUG
    max-height: 100%;
    overflow: hidden;
    visibility: hidden;
    box-shadow: none;
  }

}

.c-offcanvas--overlay {
  z-index: 1080;
}

.c-offcanvas--reveal {
  z-index: index($elements, offcanvas-reveal);
}

/**
 * Offcanvas BG-Overlay
*/
.c-offcanvas-bg {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1079;
  left: -100%;
  background-color: transparent;
  transition: background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  &.is-animating,
  &.is-open {
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.68);
    visibility: visible;
  }

  &.is-closed {visibility: hidden}
  &--closing {
    &.is-animating{background: transparent;}
  }
}

/**
 * Position Left
 *
*/

@if ($offcanvas-enable-left == true) {
  .c-offcanvas--left {
    height: 100%;
    @include offcanvas(left,$offset--left,$offcanvas-enable-overlay,$offcanvas-enable-push);
  }

  @if ($supportCSSTransforms == false) {

    .c-offcanvas.c-offcanvas--support-no-transitions {
      left: -$offset--left;

      .c-offcanvas--left{
        &.c-offcanvas--overlay,
        &.c-offcanvas--push,
        &.is-open {
          left: 0;
        }
      }
    }
  }
}

/**
 *  Position Right
 *
*/
@if ($offcanvas-enable-right == true) {

  .c-offcanvas--right {
    height: 100%;
    @include offcanvas(right,$offset--right,$offcanvas-enable-overlay,$offcanvas-enable-push);
  }
}

/**
 * Position Top
 *
*/
@if ($offcanvas-enable-top == true) {

  .c-offcanvas--top {
    @include offcanvas(top,$offset--top,$offcanvas-enable-overlay,$offcanvas-enable-push);
  }
}
/**
 * Position Bottom
 *
*/
@if ($offcanvas-enable-bottom == true) {

  .c-offcanvas--bottom {
    @include offcanvas(bottom,$offset--bottom,$offcanvas-enable-overlay,$offcanvas-enable-push);
  }
}
/**
 * Reveal
 *
*/
@if ($offcanvas-enable-reveal== true) {
  .c-offcanvas-content-wrap{
    @extend %u-offcanvas-animate;
    z-index: index($elements, offcanvas-content-wrap);
  }
  .c-offcanvas-content-wrap--reveal {
    //Left
    @if ($offcanvas-enable-left == true) {
      &.c-offcanvas-content-wrap--left {
        @include offcanvas-content(left,$offcanvas-content-reveal-left-offset);
      }
    }
    // Right
    @if ($offcanvas-enable-right == true) {
      &.c-offcanvas-content-wrap--right {
        @include offcanvas-content(right,$offcanvas-content-reveal-right-offset);
      }
    }
  }
  .c-offcanvas--reveal{
    z-index: 0;
    transform: translate3d(0,0,0);
  }

  .c-offcanvas-bg.c-offcanvas-bg--reveal{
    @extend %u-offcanvas-animate;
    @if ($offcanvas-enable-left == true) {
      &.c-offcanvas-bg--left {
        @include offcanvas-bg(left,$offset--left);
      }
    }
    @if ($offcanvas-enable-right == true) {
      &.c-offcanvas-bg--right {
        @include offcanvas-bg(right,$offset--right);
      }
    }
  }
}

/**
 * Push
 *
*/
@if ($offcanvas-enable-push== true) {

  .c-offcanvas--push {
    z-index: index($elements, offcanvas);
    &--opening {
      transition-timing-function: $deceleration-curve;
    }
  }
  .c-offcanvas-content-wrap{
    @extend %u-offcanvas-animate;
    z-index: index($elements, offcanvas-content-wrap);
  }
  .c-offcanvas-content-wrap--push {
    //Left
    @if ($offcanvas-enable-left == true) {
      &.c-offcanvas-content-wrap--left {
        @include offcanvas-content(left,$offcanvas-content-reveal-left-offset);
      }
    }
    // Right
    @if ($offcanvas-enable-right == true) {
      &.c-offcanvas-content-wrap--right {
        @include offcanvas-content(right,$offcanvas-content-reveal-right-offset);
      }
    }
  }

  .c-offcanvas-bg.c-offcanvas-bg--push{
    @extend %u-offcanvas-animate;
    @if ($offcanvas-enable-left == true) {
      &.c-offcanvas-bg--left {
        @include offcanvas-bg(left,$offset--left);
      }
    }
    @if ($offcanvas-enable-right == true) {
      &.c-offcanvas-bg--right {
        @include offcanvas-bg(right,$offset--right);
      }
    }
  }
}

body {
     overflow-x: hidden;
}

*:focus {
  outline: 2px dotted;
  outline-offset: 2px;
}
.c-button.is-clicked {
  box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
}
.c-button--ripple {
  margin: 0 0.5em;
  border-color: #212121;
  overflow: hidden;
  position: relative;
  color: #fafafa;
  background-color: #212121;
  background-repeat: repeat-x;
  background-image: linear-gradient(#393939,#212121);
  transition: color .1s,background-color .2s,box-shadow .28s cubic-bezier(0.4,0,.2,1);
}
.c-button--blue {
  background-image: linear-gradient(#0099CC,#006E92);
}
.c-button--lg{
  font-size: 1.2em;
  padding: 0.7em 1.6em;
}
.o-ripple--light {
  background: rgba(247, 247, 247, 0.25);
}
.o-ripple--gradient {
  background-image: linear-gradient(rgba(0, 191, 255, 0.56),rgba(2, 55, 72, 0.1));
}
.u-link-image {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0;
}
.c-button--ripple .c-button__text--visible-on-active,
.c-button--ripple.is-clicked .c-button__text { display: none}

.c-button--ripple.is-clicked .c-button__text--visible-on-active { display: inherit}

.o-ripple--gradient {
  background-image: linear-gradient(rgba(0, 191, 255, 0.56),rgba(2, 55, 72, 0.1));
}

.offcanvas-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding:$offcanvas-padding;
  .js-offcanvas-close {
    display: none;
  }
}

.offcanvas-top {
  padding: $offcanvas-padding/2 0;
  width: 100%;
  border-bottom:1px solid $border-color;
  margin-bottom:$offcanvas-padding/2;
}
.offcanvas-content{
  flex-grow: 1;
  width: 100%;
  > .opalelementor-nav-menu {
     > li {
       display: block;
       > a {
         padding-left:0;
         position:relative;
         text-transform: uppercase;
         &:after {
           content:"";
           width:0;
           height:1px;
           bottom:0;
           position:absolute;
           left:auto;
           right:0;
           z-index:-1;
           -webkit-transition:width .6s cubic-bezier(.25,.8,.25,1) 0s;
           transition:width .6s cubic-bezier(.25,.8,.25,1) 0s;
           background:$border-color;
         }
         &.highlighted,
         &:hover {
           &:after {
             width:100%;
             left:0;
             right:auto;
             background:currentColor;
           }
         }
         .sub-arrow {
           position: absolute;
           right:0;
           &:before {
             content: 'ï„‡';
           }
         }

       }
     }
  }
  .opalelementor-nav-menu--dropdown {
      box-shadow: none;
  }
}
.offcanvas-bottom {
  margin-top: $offcanvas-padding;
  width: 100%;
  border-top:1px solid $border-color;
  padding: $offcanvas-padding/2 0;
  a {
    display: block;
    text-transform: uppercase;
  }
}

.js-offcanvas {
  opacity: 0;
  visibility: hidden;
  &.is-open {
    opacity: 1;
    visibility: visible;
  }
}